body {
  font-family: 'Oxygen', sans-serif;
}

p{
  margin: 10px 10px 20px 10px;
  text-align: justify;
}

#chicken, #beef, #sushi{
  border: 1px solid #000000;  
  margin-bottom: 10px;
}

#chicken{
  background-color: #f6b319;
}

#beef{
  background-color: #7CFC00;
}

#sushi{
  background-color: #add8e6;
}
